.infoBox {
	font-family: var(--font-syne);
	font-weight: 600;
	margin-top: 4rem;
	margin-inline: 6rem;
	background-color: color-mix(in srgb, var(--pink) 30%, transparent);
	padding: 1rem;
	border-radius: 12px;
	color: white;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	outline: 2px solid color-mix(in srgb, var(--pink) 50%, transparent);
}

@media (max-width: 1135px) {
	.infoBox {
		margin-inline: 3rem;
	}
}

@media (max-width: 800px) {
	.infoBox {
		margin-inline: 1rem;
	}
}
