.emptyFilter {
	font-family: var(--font-syne);
	font-weight: 600;
	margin-top: 4rem;
	margin-inline: 6rem;
	background-color: color-mix(in srgb, var(--pink) 30%, transparent);
	padding: 1rem;
	border-radius: 12px;
	color: white;
}

.page {
	padding-inline: 6rem;
	padding-block: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	.emptyFilter {
		width: 100%;
		margin: 0;
		padding-right: 1rem;
	}
}

.matGroup {
	flex-grow: 1;
	width: 100%;
	margin-bottom: 2rem;
	font-family: var(--font-syne);
	font-weight: 600;
	background-color: var(--white);
	border-radius: 1.625rem;
	user-select: none;

	box-shadow:
		0px -3px 2px -2px hsl(0, 0%, 20%) inset,
		0px -10px 10px -2px rgb(174, 174, 174) inset,
		0px -15px 15px -2px hsl(300, 0%, 50%) inset;

	summary {
		height: 3.25rem;
		padding: 1rem 2rem;
		border-radius: 100vh;
		position: relative;

		color: var(--interactive-bg);

		font-weight: 720;
		overflow: hidden;

		--slice-width: 75%;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			right: -1rem;
			bottom: 60%;
			background-image: linear-gradient(
				-116deg,
				color-mix(in srgb, var(--warmer-pink) 90%, transparent),
				var(--pink) var(--slice-width),
				transparent calc(var(--slice-width) + 1px)
			);

			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0 center;
			transition: background-position 200ms var(--ease-in-out-back);
		}
	}

	&:open {
		summary {
			border-radius: 1.625rem 1.625rem 0 0;
			&::before {
				background-position: 6rem center;
			}
		}
	}

	.materialList,
	.emptyFilter {
		margin: 0.25rem;
		border-radius: 1.375rem;
		background-color: var(--interactive-bg);
		box-shadow:
			hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
			white 0px 1px 1px,
			rgba(0, 0, 0, 0.7) 0px 1px inset;
	}

	.materialList {
		margin-top: 0;
		padding: 1rem;
		width: calc(100% - 0.5rem);
	}

	.emptyFilter {
		width: unset;
	}
}

.materialList {
	height: max-content;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12.25rem, 1fr));
	place-items: center;
	gap: 2rem;
	margin-inline: auto;
	padding: 0;
}

.multiMatContainer {
	width: fit-content;
	padding-inline: 6rem;
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.editCursor {
	cursor:
		url("/cursors/edit.png") 4 26,
		default !important;
}

@media (max-width: 1135px) {
	.page,
	.multiMatContainer {
		padding-inline: 3rem;
	}

	.page {
		padding-top: 3rem;
	}

	.matGroup {
		summary {
			--slice-width: 60%;
		}

		&:open {
			summary {
				&::before {
					background-position: 3rem center;
				}
			}
		}
	}

	.emptyFilter {
		margin-inline: 3rem;
	}

	.multiMatContainer {
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(12.25rem, 1fr));
	}
}

@media (max-width: 800px) {
	.page,
	.multiMatContainer {
		padding-inline: 0;
	}
}

@media (max-width: 550px) {
	.page,
	.multiMatContainer {
		gap: 1.5rem;
		padding-inline: 1rem;
	}

	.matGroup {
		summary {
			--slice-width: 45%;
		}
	}

	.emptyFilter {
		margin-inline: 1rem;
	}

	.materialList,
	.multiMatContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
