.page {
  padding-inline: 6rem;
  padding-block: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto;
  width: 100%;
  
  --columns: 6;

  details {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-family: var(--font-syne);
    font-weight: 600;
  }
}

.materialList {
  height: max-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  place-items: center;
  gap: 2rem;
  margin: auto;
  padding: 1rem 0 0 0;
}

.filterToolbar {
  position: sticky;
  top: 3rem;
	background-color: var(--white);
	height: 4rem;
  width: 80%;
  margin: auto;
	border-radius: 0 0 1rem 1rem;
	z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  gap: 1rem;

  box-shadow: 0px 2px 20px hsl(0, 0, 4%);
	
  background-image: linear-gradient(to top, rgb(174, 174, 174), transparent);

  .filterSection {
    width: 100%;
    border-radius: 100vh;
    background-color: var(--interactive-bg);
    height: 2rem;
    box-shadow:
      hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
      white 0px 1px 1px,
      rgba(0, 0, 0, 0.7) 0px 1px inset;
    
    
		display: flex;
		justify-content: space-between;
		align-items: center;
    gap: 0.5rem;

    select {
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      margin-inline: auto;
      border: none;
      border-radius: 100vh;

      background-color: var(--interactive-bg);
      
      font-size: 1.25rem;
      font-family: var(--font-barlow-condensed);
      font-style: italic;
      line-height: 0;
      text-align: center;
      
      &:focus-visible {
        outline: none;
      }
    }

    .filterIcon {
      display: grid;
			height: 1.25rem;
			width: 1.25rem;
			aspect-ratio: 1;
			margin: 0.35rem;
			border: none;
			border-radius: 100%;
			
      background-color: #d0d0d0;
      background-image: var(--icon-src);
			
      box-shadow:
			#393939 0px 0px 1px 0,
			#707070 0px 0px 0px 0.125rem,
			hsl(0, 0%, 85%) 0.5px 0.5px 0.5px 0.5px inset,
			hsl(0, 0%, 70%) -0.5px -0.5px 0.5px 0.5px inset;

      &.hasHover {
        &:hover,
        &:focus-visible {
          outline: none;
          background-color: var(--darker-pink);
          box-shadow:
            #d0d0d0 0px 0px 0px 0.125rem,
            hsla(0, 0%, 85%, 0.6) 0.5px 0.5px 0.5px 0.5px inset,
            hsla(0, 0%, 70%, 0.6) -0.5px -0.5px 0.5px 0.5px inset;
        }
      }

			background-size: cover;
    }
  }

  .pullOutTab {
    display: none;
  }
}

.multiMatContainer {
  width: fit-content;
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  flex-wrap: wrap;
}

@media (max-width: 1600) {
  .page {
    --columns: 5;
  }
}

@media (max-width: 1320) {
  .page {
    --columns: 4;
  }
}

@media (max-width: 1135px) {
  .page {
    gap: 2rem;
    padding-inline: 3rem;
    padding-top: 1rem;
  }

  .filterToolbar {
    padding-block: 1rem;
    display: grid;
    position: unset;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
  }

  .multiMatContainer {
    padding-inline: 3rem;
  }
}

@media (max-width: 1000px) {
  .page {
    --columns: 3;
    padding-inline: 2rem;
    padding-bottom: 6rem;
  }

  .filterToolbar {
    height: 3rem;
    place-items: center;
    align-content: end;

    .pullOutTab {
      height: 1rem;
      display: block;
      text-align: center;
      grid-column: 1 / span 2;
      width: 100%;
      background-image: url('/button_icons/pulltab.png');
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      cursor: s-resize;
    }

    &.toolbarOpen {
      height: fit-content;
    }
  }

  .multiMatContainer {
    padding-inline: 3rem;
  }
}

@media (max-width: 550px) {
  .page {
    --columns: 2;
    gap: 1.5rem;
    padding-inline: 1rem;
  }

  .filterToolbar {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .multiMatContainer {
    padding-inline: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}