div.infoContainer {
	overflow: hidden;
}

.arcInfoTop {
	display: flex;
	flex-direction: row;

	.arcImageContainer {
		position: relative;
		flex-shrink: 0;

		display: grid;
		place-items: center;

		overflow: hidden;

		user-select: none;

		padding-inline: 1rem;
		margin: 0.5rem;
		margin-bottom: 0;
		padding-block: 0.25rem 1.5rem;
		border-radius: calc(var(--outer-radius) - 0.5rem);

		background-color: var(--interactive-bg);
		background-image: linear-gradient(
			to top,
			color-mix(in srgb, var(--rarity-color) 20%, transparent)
		);

		box-shadow:
			var(--shadow-dark-60) 0px 0px 2px 1px,
			var(--shadow-dark-70) 1px 2px 2px inset,
			var(--rarity-color) 0 calc(-1.25rem) 0px 5px inset,
			var(--rarity-color) 0 0 0px 5px inset;

		img {
			width: auto;
			height: 6.5rem;
			aspect-ratio: 1;
			filter: drop-shadow(black 0 0 6px);
			transition: scale 300ms ease-out;
		}

		&:hover {
			img {
				scale: 1.15;
				transition-timing-function: var(--ease-in-out-back);
			}
		}
	}

	.arcLabelContainer {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;

		color: black;
		font-size: 0.75rem;
		font-weight: 740;
		line-height: 1.5rem;
		text-align: center;
		text-shadow:
			var(--shadow-glow-white-40) 1px 1px 0.5px,
			var(--shadow-dark-30) -0.5px -1px 0.5px;
	}

	.arcStatsSection {
		flex-grow: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr 1fr;

		min-width: 0;

		font-size: 1em;

		.arcStatsName {
			grid-column: 1 / -1;
			padding-block: 0.5rem;
			padding-inline: 1rem;
			margin-left: 0.5rem;
			margin-bottom: 0.5rem;
			border-bottom-left-radius: 0.5rem;

			color: black;
			font-family: var(--font-syne);
			font-weight: 750;
			text-align: center;
			text-overflow: ellipsis;
			overflow: hidden;
			text-wrap: nowrap;

			background-color: hsla(334, 50%, 60%, 0.25);

			box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px inset;
		}

		.arcStatsLvlContainer {
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: subgrid;
			grid-template-rows: 1fr 1fr;
			gap: 0.25rem 0.75rem;

			font-family: var(--font-barlow-condensed);
			font-size: 1.25rem;
			font-weight: 600;
			font-style: italic;

			padding-inline: 0.5rem var(--padding-right);

			&.currentLvl {
				margin-bottom: 0.25rem;
			}

			.arcPhases {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 0.5rem;

				padding-inline: 0.5rem;
			}

			.arcLevelSectionLabel {
				grid-row: 1 / -1;
				align-self: end;
			}

			select {
				display: grid;
				place-items: center;

				color: white;
				font-family: inherit;
				font-size: 1.125rem;
				font-style: inherit;
				text-align: center;

				width: 100%;
				min-width: fit-content;
				height: max-content;
				padding: 0.125rem 0.5rem;
				border: none;
				border-radius: 100vh;

				cursor: var(--dropdown-cursor);

				@supports (appearance: base-select) {
					position: relative;

					&::picker-icon {
						position: absolute;
						right: 0.25rem;
						content: "";
						width: 2.5ch;
						aspect-ratio: 1;
						background-image: url("/icons/less.png");
						background-size: contain;
						background-position: center;
						font-size: 0.75rem;
					}

					&:open {
						background-color: var(--darker-pink);
						&::picker-icon {
							rotate: 180deg;
						}
						&::picker(select) {
							display: grid;
							grid-template-columns: 1fr 1fr;
							gap: 0.25rem;
						}
					}

					option {
						justify-content: center;

						font-style: normal;

						background-color: color-mix(
							in srgb,
							var(--pink) 30%,
							transparent
						);

						outline-offset: -2px;

						&:checked {
							background-color: color-mix(
								in srgb,
								var(--pink) 75%,
								transparent
							);

							outline: var(--pink) 2px solid;
						}

						&:hover,
						&:focus {
							background: var(--pink);
						}

						&:focus-visible {
							outline: white 2px solid;
						}

						&:nth-child(odd):not(:first-child) {
							border-radius: 1rem 100vh 100vh 1rem;
						}
						&:nth-child(even):not(:last-child) {
							border-radius: 100vh 1rem 1rem 100vh;
						}

						&:first-child,
						&:last-child {
							grid-column: 1 / -1;
						}
					}
				}

				&:focus-visible {
					outline: none;
					background-color: var(--darker-pink);
				}
			}
		}
	}
}

.noInteract {
	.arcInfoTop {
		.arcStatsSection {
			.arcStatsLvlContainer {
				cursor: not-allowed;
				& * {
					pointer-events: none;
				}
			}
		}
	}
}

@container (width > 700px) {
	.arcInfoTop {
		.arcStatsSection {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.arcStatsLvlContainer {
				grid-template-columns: 1fr 1fr;

				.arcPhases {
					margin-inline: 0.75rem;
				}
			}
		}
	}
}

@container (width < 490px) {
	.arcInfoTop {
		.arcStatsSection {
			gap: 0.25rem;

			.arcStatsName {
				margin-bottom: 0;
			}

			.arcStatsLvlContainer {
				grid-template-columns: 1fr 1fr;

				.arcPhases {
					grid-column: 2 / 2;
					padding-inline: 0.5rem;
					gap: 0;
				}
			}
		}
	}
}

@container (width < 400px) {
	.arcInfoTop {
		.arcStatsSection {
			& > :first-child {
				margin-bottom: 0.5rem;
			}

			.arcStatsName {
				padding-inline: 1rem;
				margin-bottom: 0;
			}

			.arcStatsLvlContainer {
				display: flex;

				flex-direction: column;
				align-items: flex-start;

				.arcLevelSectionLabel {
					align-self: start;
					margin-bottom: 0.25rem;
				}

				select {
					font-size: inherit;
					width: 100%;
				}

				.arcPhases {
					display: none;
				}
			}
		}
	}
}
