div.infoContainer {
	overflow: hidden;
}

.arcInfoTop {
	display: flex;
	flex-direction: row;

	.arcImageContainer {
		position: relative;

		flex-shrink: 0;
		overflow: hidden;

		user-select: none;

		padding-inline: 1rem;
		padding-block: 0.5rem 1.5rem;
		margin: 0.5rem;
		margin-bottom: 0;
		border-radius: calc(var(--outer-radius) - 0.5rem);

		background-color: var(--interactive-bg);
		background-image: linear-gradient(
			to top,
			color-mix(in srgb, var(--rarity-color) 20%, transparent)
		);

		box-shadow:
			var(--shadow-dark-60) 0px 0px 2px 1px,
			var(--shadow-dark-70) 1px 2px 2px inset,
			var(--rarity-color) 0 calc(-1.25rem) 0px 5px inset,
			var(--rarity-color) 0 0 0px 5px inset;

		img {
			width: auto;
			height: calc(128px - 1.5rem);
			aspect-ratio: 1;
			filter: drop-shadow(black 0 0 6px);
			transition: scale 300ms ease-out;
		}

		&:hover {
			img {
				scale: 1.15;
				transition-timing-function: var(--ease-in-out-back);
			}
		}
	}

	.arcLabelContainer {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;

		color: black;
		font-size: 0.75rem;
		font-weight: 740;
		line-height: 1.5rem;
		text-align: center;
		text-shadow:
			var(--shadow-glow-white-40) 1px 1px 0.5px,
			var(--shadow-dark-30) -0.5px -1px 0.5px;
	}

	.arcStatsSection {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;

		min-width: 0;

		font-size: 1em;

		.arcStatsName {
			padding-block: 0.5rem;
			padding-inline: 1rem;
			margin-left: 0.5rem;
			border-bottom-left-radius: 0.5rem;

			color: black;
			font-family: var(--font-syne);
			font-weight: 750;
			text-align: center;
			text-overflow: ellipsis;
			overflow: hidden;
			text-wrap: nowrap;

			background-color: hsla(334, 50%, 60%, 0.25);

			box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px inset;
		}

		.arcStatsLvlContainer {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			.arcStatsLvl {
				display: flex;
				align-items: center;
				justify-content: space-between;

				padding-inline: 0.5rem var(--padding-right);

				font-family: var(--font-barlow-condensed);
				font-size: 1.25rem;
				font-weight: 600;
				font-style: italic;

				select {
					display: grid;
					place-items: center;

					color: white;
					font-family: inherit;
					font-size: 1rem;
					font-style: inherit;
					text-align: center;

					width: 50%;
					min-width: fit-content;
					height: max-content;
					padding: 0.125rem 0.5rem;
					border: none;
					border-radius: 100vh;

					cursor: var(--dropdown-cursor);

					@supports (appearance: base-select) {
						position: relative;

						&::picker-icon {
							position: absolute;
							right: 0.25rem;
							content: "";
							width: 2.5ch;
							aspect-ratio: 1;
							background-image: url("/icons/less.png");
							background-size: contain;
							background-position: center;
							font-size: 0.75rem;
						}

						&:open {
							background-color: var(--darker-pink);
							&::picker-icon {
								rotate: 180deg;
							}
							&::picker(select) {
								display: grid;
								grid-template-columns: 1fr 1fr;
								gap: 0.25rem;
							}
						}

						option {
							justify-content: center;

							font-style: normal;

							background-color: color-mix(
								in srgb,
								var(--pink) 30%,
								transparent
							);

							outline-offset: -2px;

							&:checked {
								background-color: color-mix(
									in srgb,
									var(--pink) 75%,
									transparent
								);

								outline: var(--pink) 2px solid;
							}

							&:hover,
							&:focus {
								background: var(--pink);
							}

							&:focus-visible {
								outline: white 2px solid;
							}

							&:nth-child(odd):not(:first-child) {
								border-radius: 1rem 100vh 100vh 1rem;
							}
							&:nth-child(even):not(:last-child) {
								border-radius: 100vh 1rem 1rem 100vh;
							}

							&:first-child,
							&:last-child {
								grid-column: 1 / -1;
							}
						}
					}

					&:focus-visible {
						outline: none;
						background-color: var(--darker-pink);
					}
				}
			}

			.arcPhases {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				gap: 0.5rem;

				margin-inline: 0.5rem var(--padding-right);
			}
		}
	}
}

.noInteract {
	.arcInfoTop {
		.arcStatsSection {
			.arcStatsLvlContainer {
				cursor: not-allowed;
				& * {
					pointer-events: none;
				}
			}
		}
	}
}

@container (width < 450px) {
	.arcInfoTop {
		flex-direction: column;

		.arcImageContainer {
			display: grid;
			place-items: center;

			margin: 1rem;
			margin-bottom: 0;
			border-radius: calc(var(--outer-radius) - 1rem)
				calc(var(--outer-radius) - 1rem) 0 0;

			text-align: center;

			background-color: var(--interactive-bg);
			padding-bottom: 0;
			padding-top: 1.5rem;

			box-shadow:
				var(--shadow-dark-60) -3px 2px 2px -2px,
				var(--shadow-dark-60) 3px 2px 2px -2px,
				var(--shadow-dark-60) 0px -2px 2px,
				var(--shadow-dark-70) 1px 2px 2px inset,
				var(--rarity-color) 0 11.5rem 0 -10rem inset;
		}

		.arcLabelContainer {
			top: 0;
			bottom: unset;

			font-size: 0.9rem;
		}

		.arcStatsSection {
			gap: 1rem;

			& > :first-child {
				margin-bottom: 0.5rem;
			}

			.arcStatsName {
				padding-inline: 1rem;
				margin-inline: 1rem;
				border-bottom-right-radius: 0.5rem;

				box-shadow:
					var(--shadow-dark-70) 5px -3px 2px -4px inset,
					var(--shadow-dark-60) -1px 0px 2px,
					var(--shadow-dark-60) 1px 0px 2px;
			}

			.arcStatsLvlContainer {
				.arcStatsLvl {
					font-size: 1.5rem;

					select {
						font-size: inherit;
					}
				}

				.arcPhases {
					margin-inline: 1rem;
				}

				.arcStatsLvl {
					padding-inline: 1rem;
				}
			}
		}
	}
}

@media (max-width: 1000) {
	.arcDeleteConfirmationBox {
		.arcDeleteBoxButtons {
			button {
				color: white;
				-webkit-text-stroke: 4px black;

				background-color: var(--pink);

				box-shadow: var(--shadow-button-hover);

				&:last-child {
					background-color: var(--danger-color);
				}
			}
		}
	}
}
