a.navBtn {
	display: grid;
	place-items: center;

	width: 4rem;
	aspect-ratio: 1;
	border-radius: 100%;

	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

	cursor: var(--navigate-cursor);

	.icon {
		width: 100%;
		height: 100%;
		border-radius: 100%;

		background-size: cover;

		box-shadow:
			var(--shadow-bevel-light-40) 0px 1px 0.5px 1px inset,
			var(--shadow-dark-40) -1px -1px 1px 2px inset;

		transition-property: transform, box-shadow;
		transition-duration: 150ms;
		transition-timing-function: var(--ease-in-out-back);
	}

	&.active,
	&:hover,
	&:focus {
		background-color: color-mix(
			in hsl increasing hue,
			var(--darker-pink) 100%,
			black 50%
		);

		.icon {
			transform: rotate(90deg);
			box-shadow:
				var(--shadow-bevel-light-40) 1px 0px 0.5px 1px inset,
				var(--shadow-dark-40) -1px 1px 1px 2px inset;
		}
	}

	&:focus-visible {
		outline: 3px solid
			color-mix(in hsl increasing hue, var(--darker-pink) 100%, black 50%);
		outline-offset: 5px;
	}
}

@media (max-width: 1000px) {
	a.navBtn {
		width: 3rem;
	}
}
