.sidebar {
	--bg: var(--pink);
	background: var(--bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding-block: 4rem 1.5rem;
	height: 100dvh;
	width: var(--sidebar-width);

	z-index: 3;
	overflow: visible;

	position: fixed;
	left: 0;
	top: 0;

	--pink-strip-color: #cf3276;
	--pink-strip-highlight: color-mix(
		in oklab,
		var(--pink-strip-color) 100%,
		#dfdffe 22%
	);
	--pink-strip-shadow: color-mix(
		in oklab,
		var(--pink-strip-color) 100%,
		black 1%
	);

	--pink-strips:
		transparent 0 30%, var(--pink-strip-highlight) 30% calc(30% + 1px),
		var(--pink-strip-color) calc(30% + 0.5px) 43%,
		var(--pink-strip-shadow) 45% calc(45% + 0.5px),
		transparent calc(45% + 0.5px) 55%,
		var(--pink-strip-highlight) 55% calc(55% + 1px),
		var(--pink-strip-color) calc(55% + 0.5px) 63%,
		var(--pink-strip-shadow) 65% calc(65% + 0.5px),
		transparent calc(65% + 0.5px) 100%;

	background-image:
		url("/layout/sidebar.png"), linear-gradient(to bottom, var(--pink-strips));

	background-size:
		35vh,
		100% 10%;
	background-position:
		center bottom calc(5rem + 12%),
		center bottom 4.75rem;

	background-repeat: no-repeat;
	filter: drop-shadow(2px 1px 4px hsla(0, 0%, 0%, 0.6));

	&::before {
		content: "";
		position: absolute;
		top: 3rem;
		left: 100%;
		background-color: var(--bg);
		width: 1.5rem;
		aspect-ratio: 1;
		clip-path: shape(
			from 0% 100%,
			line to 0% 0%,
			line to 100% 0%,
			curve to 0% 100% with 0% 0%,
			close
		);
		z-index: -1;
	}

	.fender {
		height: 3rem;
		width: 6rem;
		position: absolute;
		left: 100%;
		top: 0;
		z-index: -1;
		& > path {
			fill: var(--bg);
		}
	}

	nav {
		width: 100%;
		display: grid;
		grid-auto-flow: row;
		justify-content: center;
		gap: 2rem;
		height: fit-content;

		& a:last-child {
			display: none;
		}
	}
}

@media (max-height: 800px) {
	.sidebar {
		background-size:
			20vh,
			100% 10%,
			100%;
		background-position:
			center bottom 8rem,
			center bottom 5rem,
			center;
	}
}

@media (max-width: 1000px) {
	.sidebar {
		top: unset;
		bottom: 0;
		width: 100%;
		height: 4em;
		flex-direction: row;
		padding-block: 0;

		background-image: unset;

		& a:last-child {
			display: none;
		}

		&::before {
			display: none;
		}

		.fender {
			display: none;
		}

		nav {
			gap: unset;
			display: flex;
			justify-content: space-evenly;

			& a:last-child {
				display: grid;
			}
		}
	}
}

@media (max-width: 550px) {
	.sidebar {
		padding-inline: 0.5rem;
	}
}
