.plannerBoxContainer {
	container-type: inline-size;

	height: 100%;
}

.plannerBox {
	--outer-radius: 1.5rem;
	--inner-radius: 0.5rem;

	display: flex;
	flex-direction: row;

	height: 100%;

	filter: drop-shadow(black 0 0 10px);
}

div.infoContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;

	--padding-right: 1rem;
	--padding-left: 2rem;
	border-radius: var(--outer-radius) var(--inner-radius) var(--inner-radius)
		var(--outer-radius);

	color: var(--interactive-bg);
}

.plannerSectionLabel {
	margin-left: var(--padding-left);
	margin-block: 1rem 0.5rem;
	font-weight: 600;

	user-select: none;
}

.plannerRequiredMaterialsBox {
	flex-grow: 1;

	padding: 1rem;
	margin-inline: var(--padding-left) var(--padding-right);
	border-radius: 0.75rem 0.75rem 0 0;

	background-color: var(--interactive-bg);

	box-shadow:
		var(--shadow-dark-60) 0px 0px 2px 1px,
		var(--shadow-dark-70) 1px 2px 2px inset;
}

.plannerBoxDisabled,
.plannerBoxDragging {
	position: relative;
	opacity: 0.75;

	&::after {
		content: "";
		position: absolute;
		inset: 0;

		border-radius: var(--outer-radius);

		background-color: var(--darker-pink);
		opacity: 0.25;
		pointer-events: none;
	}
}
.plannerBoxDisabled {
	opacity: 0.5;
}

.plannerBoxDragging {
	&::after {
		outline: 4px var(--darker-pink) dashed;
		outline-offset: 4px;
	}
}

.plannerBoxDropPreview {
	box-shadow: color-mix(in srgb, var(--pink) 50%, transparent) 0 0 200px inset;
	border: 2px solid var(--darker-pink);
	border-radius: var(--outer-radius);
	& > * {
		opacity: 0;
	}
}

@container (width < 450px) {
	.plannerBox {
		flex-direction: column-reverse;
	}

	div.infoContainer {
		border-radius: var(--inner-radius) var(--inner-radius) var(--outer-radius)
			var(--outer-radius);
		--padding-left: 1rem;
		--padding-right: 1rem;
	}

	.plannerRequiredMaterialsBox {
		padding: 1.25rem;
	}
}

/* hide on wide screens */
@media (min-width: 1000) {
	.hideOnDesktop {
		visibility: hidden !important;
	}
}

/* show on short screens */
@media (max-height: 800) {
	.hideOnDesktop {
		visibility: visible !important;
	}
}
