.arcPlannerBoxContainer {
	container-type: inline-size;

	height: 100%;
}

.arcPlannerBox {
	--outer-radius: 1.5rem;
	--inner-radius: 0.5rem;

	display: flex;
	flex-direction: row;

	height: 100%;

	filter: drop-shadow(black 0 0 10px);
}

.arcInfoContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	overflow: hidden;

	--padding-right: 1rem;
	border-radius: var(--outer-radius) var(--inner-radius) var(--inner-radius)
		var(--outer-radius);

	color: var(--interactive-bg);

	background-color: var(--white);

	box-shadow:
		0px -3px 2px -2px hsl(0, 0%, 20%) inset,
		0px -10px 10px -2px rgb(174, 174, 174) inset,
		0px -23px 15px -2px hsl(300, 0%, 50%) inset;
}

.arcInfoTop {
	display: flex;
	flex-direction: row;

	.arcImageContainer {
		position: relative;

		flex-shrink: 0;
		overflow: hidden;

		user-select: none;

		padding-inline: 1rem;
		padding-block: 0.5rem 1.5rem;
		margin: 0.5rem;
		margin-bottom: 0;
		border-radius: calc(var(--outer-radius) - 0.5rem);

		background-color: var(--interactive-bg);
		background-image: linear-gradient(
			to top,
			color-mix(in srgb, var(--rarity-color) 20%, transparent)
		);

		box-shadow:
			hsla(0, 0%, 0%, 0.6) 0px 0px 2px 1px,
			rgba(0, 0, 0, 0.7) 1px 2px 2px inset,
			var(--rarity-color) 0 calc(-1.25rem) 0px 5px inset,
			var(--rarity-color) 0 0 0px 5px inset;

		img {
			width: auto;
			height: calc(128px - 1.5rem);
			aspect-ratio: 1;
			filter: drop-shadow(black 0 0 6px);
			transition: scale 300ms ease-out;
		}

		&:hover {
			img {
				scale: 1.15;
				transition-timing-function: var(--ease-in-out-back);
			}
		}
	}

	.arcTypeContainer {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;

		color: black;
		font-size: 0.75rem;
		font-weight: 740;
		line-height: 1.5rem;
		text-align: center;
		text-shadow:
			rgba(255, 255, 255, 0.4) 1px 1px 0.5px,
			rgba(0, 0, 0, 0.3) -0.5px -1px 0.5px;
	}

	.arcStatsSection {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;

		min-width: 0;

		font-size: 1em;

		.arcStatsName {
			padding-block: 0.5rem;
			padding-inline: 1rem;
			margin-left: 0.5rem;
			border-bottom-left-radius: 0.5rem;

			color: black;
			font-family: var(--font-syne);
			font-weight: 750;
			text-align: center;
			text-overflow: ellipsis;
			overflow: hidden;
			text-wrap: nowrap;

			background-color: hsla(334, 50%, 60%, 0.25);

			box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px inset;
		}

		.arcStatsLvlContainer {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			.arcStatsLvl {
				display: flex;
				align-items: center;
				justify-content: space-between;

				padding-inline: 0.5rem var(--padding-right);

				font-family: var(--font-barlow-condensed);
				font-size: 1.25rem;
				font-weight: 600;
				font-style: italic;

				select {
					display: grid;
					place-items: center;

					color: white;
					font-family: inherit;
					font-size: 1rem;
					font-style: inherit;
					text-align: center;

					width: 50%;
					min-width: fit-content;
					height: max-content;
					padding: 0.125rem 0.5rem;
					border: none;
					border-radius: 100vh;

					background-color: var(--interactive-bg);

					box-shadow:
						hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
						white 0px 1px 1px,
						rgba(0, 0, 0, 0.7) 0px 1px inset;

					&:focus-visible {
						background-color: var(--darker-pink);

						outline: none;
					}
				}
			}

			.arcPhases {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				gap: 0.5rem;

				margin-inline: 0.5rem var(--padding-right);

				.arcPhaseStar {
					.arcPhaseStarFill {
						fill: #bababa;
					}

					.arcPhaseStarStroke {
						stroke: #333333;
						stroke-opacity: 0.75;
						stroke-width: 3;
					}

					&.phaseActive {
						.arcPhaseStarFill {
							fill: var(--pink);
						}
					}
				}
			}
		}
	}
}

.arcRequiredMaterialsList {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(3.25rem, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
	gap: 1rem;
	place-items: center;

	padding: 1rem;
	margin-inline: 2rem var(--padding-right);
	border-radius: 0.75rem 0.75rem 0 0;

	background-color: var(--interactive-bg);

	box-shadow:
		hsla(0, 0%, 0%, 0.6) 0px 0px 2px 1px,
		rgba(0, 0, 0, 0.7) 1px 2px 2px inset;
}

.arcButtonsContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.5rem;

	position: relative;

	padding: 0.5rem;
	border-radius: var(--inner-radius) var(--outer-radius) var(--outer-radius)
		var(--inner-radius);

	background-color: var(--pink);

	box-shadow:
		-2.5px -3px 3px -2px hsl(334, 60%, 20%) inset,
		3px 0px 3px -2px hsl(334, 40%, 37%) inset,
		white -1px 3px 4px -2px inset;

	.arcPlannerButton {
		width: 2rem;
		aspect-ratio: 1;
		border: #707070 3px solid;
		border-radius: 100%;

		background-color: #d0d0d0;
		background-image: var(--icon-src);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		box-shadow:
			hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
			white 0px 1px 1px,
			hsl(0, 0%, 85%) 0.5px 0.5px 0.5px 0.5px inset,
			hsl(0, 0%, 50%) -0.5px -0.5px 1px inset;

		cursor: pointer;

		&:last-child {
			margin-top: auto;
		}

		&:hover,
		&:focus-visible {
			background-color: var(--darker-pink);

			box-shadow:
				hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
				white 0px 1px 1px,
				hsla(0, 0%, 85%, 0.6) 0.5px 0.5px 0.5px 0.5px inset,
				hsla(0, 0%, 70%, 0.6) -0.5px -0.5px 0.5px 0.5px inset;

			outline: none;
		}
	}

	.arcBoxDragPoint {
		width: 2rem;
		height: 2.75rem;

		cursor: grab;

		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		background-image: url("/icons/drag.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.arcBoxDisabled,
.arcBoxDragging {
	position: relative;
	opacity: 0.75;

	&::after {
		content: "";
		position: absolute;
		inset: 0;

		border-radius: var(--outer-radius);

		background-color: var(--darker-pink);
		opacity: 0.25;
		pointer-events: none;
	}
}
.arcBoxDisabled {
	opacity: 0.5;
}

.arcBoxDragging {
	&::after {
		outline: 4px var(--darker-pink) dashed;
		outline-offset: 4px;
	}
}

.arcBoxDropPreview {
	box-shadow: color-mix(in srgb, var(--pink) 50%, transparent) 0 0 200px inset;
	border: 2px solid var(--darker-pink);
	border-radius: var(--outer-radius);
	& > * {
		opacity: 0;
	}
}

@container (width < 450px) {
	.arcPlannerBox {
		flex-direction: column-reverse;
	}

	.arcInfoContainer {
		border-radius: var(--inner-radius) var(--inner-radius) var(--outer-radius)
			var(--outer-radius);
	}

	.arcInfoTop {
		flex-direction: column;

		.arcImageContainer {
			display: grid;
			place-items: center;

			margin: 1rem;
			margin-bottom: 0;
			border-radius: calc(var(--outer-radius) - 1rem)
				calc(var(--outer-radius) - 1rem) 0 0;

			text-align: center;

			background-color: var(--interactive-bg);
			padding-bottom: 0;
			padding-top: 1.5rem;

			box-shadow:
				hsla(0, 0%, 0%, 0.6) -3px 2px 2px -2px,
				hsla(0, 0%, 0%, 0.6) 3px 2px 2px -2px,
				hsla(0, 0%, 0%, 0.6) 0px -2px 2px,
				rgba(0, 0, 0, 0.7) 1px 2px 2px inset,
				var(--rarity-color) 0 11.5rem 0 -10rem inset;
		}

		.arcTypeContainer {
			top: 0;
			bottom: unset;

			font-size: 0.9rem;
		}

		.arcStatsSection {
			gap: 1rem;

			& > :first-child {
				margin-bottom: 0.5rem;
			}

			.arcStatsName {
				padding-inline: 1rem;
				margin-inline: 1rem;
				border-bottom-right-radius: 0.5rem;

				box-shadow:
					rgba(0, 0, 0, 0.7) 5px -3px 2px -4px inset,
					hsla(0, 0%, 0%, 0.6) -1px 0px 2px,
					hsla(0, 0%, 0%, 0.6) 1px 0px 2px;
			}

			.arcStatsLvlContainer {
				.arcStatsLvl {
					font-size: 1.5rem;

					select {
						font-size: inherit;
					}
				}

				.arcPhases {
					margin-inline: 1rem;
				}

				.arcStatsLvl {
					padding-inline: 1rem;
				}
			}
		}
	}

	.arcRequiredMaterialsList {
		grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));

		padding: 1.25rem;
		margin-inline: 1rem;
	}

	.arcButtonsContainer {
		flex-direction: row-reverse;

		border-radius: var(--outer-radius) var(--outer-radius) var(--inner-radius)
			var(--inner-radius);

		box-shadow:
			-3px -2.5px 3px -2px hsl(334, 60%, 20%) inset,
			0px -3px 3px -2px hsl(334, 40%, 37%) inset,
			white 1px 3px 4px -2px inset;

		.arcBoxDragPoint {
			width: 2.75rem;
			height: 2rem;

			transform: translateX(-50%);
			left: 50%;
			top: unset;

			background-image: url("/icons/drag_hr.png");
		}

		.arcPlannerButton {
			&:last-child {
				margin-right: auto;
				margin-top: unset;
			}
		}
	}
}

@media (max-width: 1000) {
	.arcButtonsContainer {
		.arcBoxDragPoint {
			display: none;
		}
	}
}
