.section {
	padding: 0.25rem;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	container-type: inline-size;

	hr {
		border: none;
		border-radius: 100vh;
		background-color: var(--interactive-bg);
		margin: 0.5rem;
		height: 3px;

		opacity: 0.5;
	}

	.sectionTitleRow {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.25rem 0.75rem;

		margin: 0.5rem 1rem;

		color: black;

		a {
			color: var(--pink);
			font-family: var(--font-barlow-condensed);
			font-weight: 800;
			font-style: italic;
			text-decoration: underline;

			cursor: var(--pointer-cursor);
		}
	}
}

.sectionTitle {
	color: var(--interactive-bg);
	font-size: 1.5rem;
	font-weight: 725;
	text-transform: uppercase;

	user-select: none;
}

.importSection {
	grid-row: 2;

	.importFileBox {
		border-radius: 1.25rem 1.25rem 0.75rem 0.75rem;
		display: flex;
		flex-direction: column;

		overflow: hidden;

		.importFileDrop {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 0.75rem;

			padding: 1.5rem 0.75rem;
			border-radius: 0.75rem;

			font-weight: 600;

			outline: 2px dashed color-mix(in srgb, var(--pink) 50%, transparent);
			margin: 0.5rem;

			user-select: none;

			cursor: var(--pointer-cursor);
		}

		&.fileDropActive .importFileDrop,
		.importFileDrop:hover {
			background-color: color-mix(in srgb, var(--pink), transparent 50%);
		}

		.importFileSelect {
			display: flex;
			flex-direction: row;

			margin: 0.5rem 0.375rem;
			margin-block-start: 0;
			border-radius: 0.5rem;

			background-color: color-mix(
				in srgb,
				var(--pink) 60%,
				var(--interactive-bg)
			);

			code {
				flex-grow: 1;
				min-width: 0;
				display: flex;
				align-items: center;
				border-radius: 0.5rem 0 0 0.5rem;
				padding-inline: 0.75rem;

				scrollbar-width: none;

				.fileName {
					min-width: 0;
					width: 100%;

					font-family: var(--font-barlow-condensed);
					font-style: italic;
					font-size: 0.9em;

					text-wrap-mode: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;

					user-select: none;
				}
			}

			.clearFileButton {
				--hover-color: var(--danger-color);

				position: relative;

				aspect-ratio: 1;
				border-radius: 0.25rem 0 0 0.25rem;
				padding-inline: 0.5rem;

				color: transparent;
				font-size: 1rem;

				box-shadow: var(--shadow-button);

				&::after {
					content: "";
					position: absolute;
					inset: 0;

					background-image: url("/button_icons/cross.png");
					background-size: 90%;
					background-position: center;
				}

				&:hover,
				&:focus,
				&:focus-visible {
					color: transparent;
					-webkit-text-stroke: unset;
					box-shadow: var(--shadow-button-hover);

					&::after {
						background-image: url("/button_icons/cross_white.png");
					}
				}

				& + .fileButton {
					border-radius: 0 0.5rem 0.5rem 0;
				}
			}

			.fileButton {
				width: max-content;
				border: none;
				font-family: var(--font-barlow-condensed);
				font-size: 1rem;
				padding: 0.25rem;
				padding-inline: 1rem;
				border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;
				box-shadow: var(--shadow-button);
				text-wrap-mode: nowrap;

				&:hover,
				&:focus,
				&:focus-visible {
					box-shadow: var(--shadow-button-hover);
				}
			}
		}
	}

	.importButton {
		margin-block: 0.5rem;
		margin-inline: 0.375rem;
		position: relative;
	}

	.importMessageBox {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		width: 100%;
		padding-block: 0 0.5rem;
		padding-inline: 0.375rem;
		border-radius: 1.25rem;

		.importMessage {
			padding: 0.125em 0.75em;
			border-radius: 0.375em;

			--bg-color: var(--pink);

			background-color: color-mix(in srgb, var(--bg-color), transparent);

			font-size: 0.9em;
			font-family: var(--font-barlow-condensed);
			font-weight: 300;

			paint-order: stroke fill;

			&[data-type="info"] {
				--bg-color: #418df6;
			}
			&[data-type="warn"] {
				--bg-color: #ff8000;
			}
			&[data-type="error"] {
				--bg-color: var(--danger-color);
			}
		}
	}
}

@media (max-width: 1220px) {
	.importSection {
		grid-row: unset;
	}
}

@media (max-width: 550px) {
	.sectionTitle {
		font-size: 1rem;
	}
}
