:root {
	--background: #1d1d1d;
	--foreground: #ffffff;
	--white: #e7e7e7;
	--interactive-bg: #333333;
	--pink: #ff569f;
	--darker-pink: #ff4785;
	--warmer-pink: #ff707c;

	--ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);

	--default-cursor: url("/cursors/default.png") 2 2, default;
	--pointer-cursor: url("/cursors/pointer.png") 10 10, pointer;
	--navigate-cursor: url("/cursors/navigate.png") 28 20, pointer;

	--multi-mat-cursor: url("/cursors/multi-mat.png") 4 26, pointer;

	--edit-cursor: url("/cursors/edit.png") 4 26, text;
	--search-cursor: url("/cursors/search.png") 4 26, text;

	--dropdown-cursor: url("/cursors/dropdown.png"), pointer;
	--filter-cursor: url("/cursors/filter.png"), pointer;
	--group-cursor: url("/cursors/group.png"), pointer;
	--sort-cursor: url("/cursors/sort.png"), pointer;

	--pull-cursor: url("/cursors/down.png") 16 16;
}

html {
	color-scheme: dark;
}

html,
body {
	max-width: 100%;
	min-height: 100dvh;
}

body {
	--sidebar-width: 6rem;
	--titlebar-height: 3rem;

	cursor: var(--default-cursor);

	overflow: hidden auto;
	padding-left: var(--sidebar-width);
	padding-top: var(--titlebar-height);

	background-color: var(--background);
	background-image: repeating-linear-gradient(
		50deg,
		transparent 0px 8px,
		color-mix(in srgb, var(--darker-pink) 2%, transparent) 0px 18px
	);
	color: var(--foreground);

	font-family: var(--font-syne);

	&:has(> .no-body-scroll) {
		overflow: hidden;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	&::selection {
		background-color: var(--pink);
		color: white;
	}

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 1rem;
		height: 1rem;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #d0d0d0;
		box-shadow: 0px 0px 0px 0.125rem #707070 inset;
		border-radius: 100vh;
		border: 0.25rem transparent solid;
		background-clip: content-box;
		
		&:hover {
			background-color: var(--darker-pink);
			box-shadow: 0px 0px 0px 0.125rem #d0d0d0 inset;
		}
	}

	@supports not selector(::-webkit-scrollbar) {
		& {
			scrollbar-color: var(--darker-pink) transparent;
		}
	}
}

a {
	color: inherit;
	text-decoration: none;

	&.btn-anchor {
		text-decoration: underline;
		color: var(--pink);
		font-weight: 700;
		cursor: var(--pointer-cursor);
	}
}

@supports (appearance: base-select) {
	select,
	::picker(select),
	option {
		appearance: base-select;
	}

	::picker(select) {
		width: max-content;
		padding: 0.25rem;
		border: color-mix(in srgb, var(--interactive-bg) 100%, white 10%) 1px
			solid;
		border-radius: 1rem;

		background-color: var(--interactive-bg);

		box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 2px;

		&:popover-open {
			display: flex;
		}
		flex-direction: column;
		gap: 0.5rem;
	}

	option {
		padding: 0.25rem 1rem;
		align-items: flex-start;

		width: 100%;
		border-radius: 100vh;
		border: none;

		&:hover,
		&:focus {
			background-color: var(--pink);
		}

		&:checked {
			background-color: color-mix(in srgb, var(--pink) 75%, transparent);
			outline: var(--pink) 2px solid;
			outline-offset: -2px;
		}

		&::checkmark {
			display: none;
		}
	}

	select {
		text-wrap-mode: nowrap;
		appearance: base-select;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		justify-content: center;
		overflow: hidden;
	}
}

.modal-container {
	position: fixed;
	inset: 0;
	background-color: #090003d3;
	box-shadow: 0 0 10rem hsla(334, 100%, 67%, 0.15) inset;
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-inline: 1rem;
}

.tooltip {
	position: fixed;
	top: 0;
	left: 0;

	width: max-content;
	max-width: 250px;

	height: fit-content;

	padding: 0.5rem 1rem;
	border-radius: 0.5rem;

	user-select: none;

	background-color: var(--interactive-bg);

	box-shadow:
		hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
		white 0px 0px 1px 1px,
		rgba(0, 0, 0, 0.7) 0px 1px inset;
	z-index: 999;

	font-weight: 700;

	.subtext {
		font-size: 0.75rem;
		font-weight: 100;
		margin-top: 0.25rem;
	}
}

.common {
	--rarity-color: #76bfaa;
}

.uncommon {
	--rarity-color: #465bd8;
}

.rare {
	--rarity-color: #c54fc1;
}

.epic {
	--rarity-color: #dea745;
}

@media (max-width: 1135px) {
	.modal-container {
		.close-btn {
			width: 2rem;
			position: absolute;
			right: 2vh;
			top: 0vw;
		}

		&:not(.use-check) > .close-btn {
			background-image: url("/button_icons/cross_white.png");
		}
	}
}

@media (max-width: 1000px) {
	body {
		padding-inline: 1rem;
		padding-block: 4.25rem 4rem;
	}
}
