.page {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex-grow: 1;
}

.twoColumns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.homeGrid {
	grid-template-areas:
		"stamina tasks"
		"farming checklist";
}

.section {
	padding: 0.25rem;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	container-type: inline-size;

	.sectionTitleRow {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.25rem 0.75rem;
		margin: 0.5rem 1rem;
		color: black;
	}
}

.sectionTitle {
	color: var(--interactive-bg);
	font-size: 1.5rem;
	font-weight: 725;
	text-transform: uppercase;

	user-select: none;
}

.sectionConfig {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	font-family: var(--font-barlow-condensed);
	font-style: italic;
	font-weight: 300;
	cursor: pointer;
	user-select: none;
}

.sectionButton {
	font-size: 0.8em;
	margin-block: 0.25em;
	margin-inline-start: auto;
}

@container (width < 500) {
	.section {
		.sectionTitleRow {
			justify-content: space-between;
		}
	}

	.sectionButton {
		margin-inline-start: 0;
	}
}

@media (max-width: 1000px) {
	.sectionTitle {
		font-size: 1.25rem;
	}

	.sectionButton {
		font-size: 0.9em;
	}
}

@media (max-width: 800px) {
	.page {
		padding-inline: 3rem !important;
	}

	.homeGrid {
		grid-template-areas: none;
	}

	.twoColumns {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.section {
		grid-area: unset !important;
	}
}

@media (max-width: 550px) {
	.page {
		padding-inline: 1rem !important;
	}

	.sectionTitle {
		font-size: 1rem;
	}
}
