.instructionsSteps {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	text-align: left;
	list-style-position: outside;
	margin-left: 1rem;

	::marker,
	::-moz-list-number {
		font-family: var(--font-barlow-condensed);
	}
}
