.splashContainer {
	position: fixed;
	inset: 0;
	z-index: 999;
	display: grid;
	place-items: center;
	background-color: color-mix(
		in srgb,
		var(--darker-pink) 20%,
		rgba(0, 0, 0, 0.5)
	);
}

.welcomeSplashContainer,
.updateSplashContainer {
	width: 100%;

	color: black;

	font-family: var(--font-syne);
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.welcomeSplashContainer {
	--chiz-section-width: 30.458dvw;
	--chiz-section-offset: 7.6145dvw;

	.chizSection {
		flex-shrink: 0;

		position: absolute;
		right: var(--chiz-section-offset);

		display: grid;
		place-items: center;

		width: var(--chiz-section-width);
		aspect-ratio: 1;
		border-radius: 100%;

		background-image: url("/layout/chiz_container.png");
		background-size: contain;

		box-shadow: 0px 2px 20px var(--shadow-deep);

		.chizContainer {
			--chiz-container-width: calc(var(--chiz-section-width) * 0.8125);

			display: grid;
			place-items: end;

			width: var(--chiz-container-width);
			aspect-ratio: 1;
			border-radius: 100%;

			background-color: var(--interactive-bg);

			box-shadow:
				color-mix(in srgb, var(--pink), transparent) 0 0 100px inset,
				var(--shadow-dark-60) 0px -1px 6px 2px,
				var(--foreground) 0px 2px 4px;
		}

		.chiz {
			display: flex;

			height: auto;
			width: 100%;

			transform-origin: bottom center;
		}
	}
}

.infoSection {
	display: grid;
	gap: 1rem;

	width: 100%;
	padding-block: 0 1rem;
	padding-inline: 8rem 0;

	background-color: var(--white);

	scale: calc(100% * 1vw);

	.welcomeText {
		width: fit-content;
		padding-block: 1rem;
		padding-inline: 2rem;
		border-radius: 0 0 1rem 1rem;

		background-color: hsla(334, 50%, 60%, 0.25);

		font-weight: 760;

		box-shadow: var(--shadow-dark-40) 0 -1px 6px inset;
	}

	.welcomeSubTitle {
		padding: 1rem 1.5rem;
		border-radius: 100vh 0 0 100vh;

		color: white;
		font-size: 1.25rem;
		font-style: italic;
		paint-order: stroke fill;
		-webkit-text-stroke: 4px black;

		background-color: var(--pink);
	}

	.infoBox {
		max-height: 30rem;
		padding: 1rem;
		border-radius: 1rem;

		color: white;
		font-size: 1.125rem;

		background-color: var(--interactive-bg);

		list-style-position: inside;
		box-shadow:
			var(--shadow-dark-60) 0px -2px 4px,
			var(--foreground) 0px 1px 4px;

		overflow-y: auto;

		ul {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		li {
			font-weight: 600;
		}

		a {
			font-weight: 760;
		}
	}

	.btnContainer {
		display: flex;
		justify-content: flex-start;
		gap: 2rem;

		button {
			display: grid;
			place-items: center;
			width: 50%;

			padding: 0.25rem 1rem;
			margin-block: 0.5rem;

			&:hover,
			&:focus-visible {
				-webkit-text-stroke: 4px black;
			}
		}
	}

	.welcomeSplashContainer & {
		padding-inline: 8rem max(calc(var(--chiz-section-offset) - 2rem), 2rem);

		.title {
			margin-inline: 0.5rem;

			color: white;
			font-size: 3rem;
			font-weight: 800;
			font-style: italic;
			paint-order: stroke fill;
			-webkit-text-stroke: 10px black;
		}

		.welcomeSubTitle {
			padding-right: calc(var(--chiz-section-width) - 6rem);
			margin-right: calc(-2rem + var(--chiz-section-width) / 2);
		}

		.infoBox {
			padding-right: calc(
				var(--chiz-section-width) + var(--chiz-section-offset)
			);
		}

		.btnContainer {
			margin-right: calc(
				var(--chiz-section-width) + var(--chiz-section-offset)
			);
		}
	}

	.updateSplashContainer & {
		padding-inline: 8rem 0;
		
		.welcomeText {
			font-size: 1.5rem;
		}

		.infoBox {
			margin-right: 8rem;

			.versionSection {
				margin-block-end: 1.5rem;
				.versionTitle {
					font-size: 1.5em;
					font-style: italic;
				}

				hr {
					border: none;
					height: 4px;
					background-color: var(--pink);
					border-radius: 100vh;
					margin-block: 0.5ch;
				}

				.versionText {
					font-size: 0.9em;
					margin-block: 1ch;
				}
			}
		}

		.btnContainer {
			margin-right: 20vw;

			button {
				width: 25%;
			}
		}
	}

	box-shadow:
		black 0 0 50px,
		0px -3px 2px -2px var(--interactive-bg) inset,
		0px -10px 10px -2px var(--shadow-underlight-1) inset,
		0px -23px 15px -2px var(--shadow-underlight-2) inset,
		0px 2px 20px var(--shadow-deep);
	height: fit-content;
}

@media (max-width: 1400px) {
	.welcomeSplashContainer {
		--chiz-section-offset: 1.9dvw;

		.chizSection {
			left: var(--chiz-section-offset);
			right: auto;

			box-shadow:
				var(--shadow-dark-60) 0px -3px 6px 1px,
				var(--foreground) 0px 5px 4px 2px;

			.chiz {
				transform: scaleX(-1);
			}
		}
	}

	.infoSection {
		padding-inline: 2rem;

		.welcomeSubTitle {
			padding-right: 2rem;
			margin-right: -2rem;
		}

		.infoBox {
			padding-right: 2rem;
		}

		.btnContainer {
			justify-content: flex-end;
		}

		.welcomeSplashContainer & {
			padding-left: calc(
				var(--chiz-section-offset) + var(--chiz-section-width) + 2rem
			);

			.infoBox {
				padding-right: 2rem;
			}

			.welcomeSubTitle {
				padding-right: 2rem;
				margin-right: -2rem;
			}

			.btnContainer {
				margin-right: 0;
			}
		}

		.updateSplashContainer & {
			padding-inline: 2rem;

			.infoBox {
				margin-right: 0;
				max-width: unset;
			}

			.btnContainer {
				margin-right: unset;

				button {
					width: 50%;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.welcomeSplashContainer {
		.chizSection {
			display: none;
		}
	}

	.infoSection {
		padding-inline: 2rem;

		.welcomeSplashContainer & {
			padding-inline: 2rem;

			.btnContainer {
				justify-content: center;
			}
		}
	}
}

@media (max-width: 570px) {
	.infoSection {
		padding-inline: 1rem;

		.welcomeText {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 100%;
		}

		.welcomeSplashContainer & {
			.title {
				font-size: 2rem;
				-webkit-text-stroke-width: 7.5px;
			}
		}

		.updateSplashContainer & {
			.welcomeText {
				font-size: 1rem;
			}
		}
	}
}

@media (max-width: 420px) {
	.infoSection {
		.infoBox {
			padding-right: 1rem;
			font-size: 0.9rem;
		}

		.welcomeSplashContainer & {
			.title {
				margin-left: 0;

				font-size: 1.5rem;
				-webkit-text-stroke-width: 5px;
			}

			.welcomeSubTitle {
				font-size: 0.9rem;
			}
		}
	}
}
