.phaseStar {
	.phaseStarFill {
		fill: #bababa;
	}

	.phaseStarStroke {
		stroke: var(--dark-shadow);
		stroke-opacity: 0.75;
		stroke-width: 3;
	}
}

.phaseActive {
	.phaseStarFill {
		fill: var(--pink);
	}
}
