.page {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 3rem;

	padding-inline: 6rem;
	padding-block: 4rem;
}

@media (max-width: 1000px) {
	.page {
		padding-inline: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}
