div.alertBox {
	display: flex;
	flex-direction: column;

	max-width: 40vw;
	padding: 1rem 2rem;
	border-radius: 1rem;

	color: black;
	text-align: center;
	font-family: var(--font-syne);
	font-weight: 650;
	font-size: 1.25rem;

	.alertBoxButtons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 1rem;
		gap: 3rem;

		button {
			&[data-variant="normal"] {
				--hover-color: var(--pink);
			}

			&[data-variant="danger"] {
				--hover-color: var(--danger-color);
			}
		}
	}
}

@media (max-width: 1000px) {
	div.alertBox {
		max-width: 30rem;
	}
}
@media (max-width: 500px) {
	div.alertBox {
		text-wrap-style: balance;
		font-size: 1rem;
		padding: 1rem;

		.alertBoxButtons {
			gap: 1rem;
		}
	}
}
