div.alertBox {
	display: flex;
	flex-direction: column;

	max-width: 40vw;
	padding: 1rem;
	border-radius: 1rem;

	color: black;
	text-align: center;
	font-family: var(--font-syne);
	font-weight: 650;
	font-size: 1.25rem;

	.alertTextBox {
		color: white;
		font-size: 0.75em;
		font-weight: 500;
		text-align: left;
		border-radius: 0.5rem;
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-block: 0.75rem;
	}

	.alertBoxButtons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 1rem;
		gap: 3rem;

		button {
			&:only-child {
				grid-column: 1 / -1;
			}

			&[data-variant="normal"] {
				--hover-color: var(--pink);
			}

			&[data-variant="danger"] {
				--hover-color: var(--danger-color);
			}
		}
	}
}

@media (max-width: 1000px) {
	div.alertBox {
		max-width: 30rem;
	}
}
@media (max-width: 500px) {
	div.alertBox {
		text-wrap-style: balance;
		font-size: 1rem;
		padding: 1rem;

		.alertBoxButtons {
			gap: 1rem;
		}
	}
}
