.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

@keyframes blinking {
	from {
		background-position: 0rem;
		box-shadow:
			rgba(255, 166, 0, 0.9) 0 0 15px,
			hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
			white 0px 1px 1px,
			hsla(0, 0%, 0%, 0.6) -1px -1px 4px inset,
			rgba(255, 255, 255, 0.6) 1px 1px 2px inset,
			rgba(255, 255, 255, 0.6) 1px 1px 4px inset;
	}

	to {
		background-position: 1.5rem;
		box-shadow:
			hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
			white 0px 1px 1px,
			hsla(0, 0%, 0%, 0.6) -1px -1px 4px inset,
			rgba(255, 255, 255, 0.6) 1px 1px 2px inset,
			rgba(255, 255, 255, 0.6) 1px 1px 4px inset;
	}
}

.settingsSection {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 100%;
	max-width: 80%;
	padding: 1rem;
	border-radius: 1rem;

	color: black;

	background-color: var(--white);

	box-shadow:
		0px -3px 2px -2px var(--interactive-bg) inset,
		0px -10px 10px -2px rgb(174, 174, 174) inset,
		0px -23px 15px -2px hsl(300, 0%, 50%) inset;

	.settingsSectionTitlebar {
		.settingsSectionTitle {
			color: var(--interactive-bg);
			font-size: 1.5rem;
			font-weight: 725;
			filter: drop-shadow(-0.5px -0.5px 0.5px hsla(0, 0%, 4%, 1));
		}

		display: flex;
		justify-content: space-between;
		align-items: center;

		.settingsCloudStatus {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			.settingsCloudStatusLabel {
				position: relative;

				padding-block: 0.25rem;
				padding-inline: 1rem 2rem;
				border-radius: 100vh;

				color: var(--background);
				font-family: var(--font-barlow-condensed);
				font-size: 1.25rem;
				font-style: italic;
				font-weight: 600;

				text-wrap-mode: nowrap;

				background-color: var(--button-background);

				box-shadow: rgba(0, 0, 0, 0.333) 0 0 4px inset;

				user-select: none;

				&::before {
					content: "";
					position: absolute;
					right: 0.5rem;
					top: 50%;
					translate: 0 -50%;

					height: 0.75rem;
					aspect-ratio: 1;
					border-radius: 100%;

					background-color: hsl(0, 0%, 20%);

					box-shadow:
						hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
						white 0px 1px 1px,
						hsla(0, 0%, 0%, 0.6) -1px -1px 4px inset,
						rgba(255, 255, 255, 0.6) 1px 1px 2px inset,
						rgba(255, 255, 255, 0.6) 1px 1px 4px inset;
				}

				&.idle::before {
					background-color: hsl(0, 0%, 20%);
				}

				&.syncing::before {
					background-color: orange;

					background-image: repeating-linear-gradient(
						to right,
						transparent 0 50%,
						hsl(0, 0%, 20%) 50% 100%
					);
					background-size: 200%;
					background-position: 0rem;
					box-shadow:
						rgba(255, 166, 0, 0.9) 0 0 15px,
						hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
						white 0px 1px 1px,
						hsla(0, 0%, 0%, 0.6) -1px -1px 4px inset,
						rgba(255, 255, 255, 0.6) 1px 1px 2px inset,
						rgba(255, 255, 255, 0.6) 1px 1px 4px inset;

					animation: blinking 1s steps(2) forwards infinite;
				}

				&.synced::before {
					background-color: rgb(7, 255, 90);
					box-shadow:
						rgba(7, 255, 90, 0.9) 0 0 15px,
						hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
						white 0px 1px 1px,
						hsla(0, 0%, 0%, 0.6) -1px -1px 4px inset,
						rgba(255, 255, 255, 0.6) 1px 1px 2px inset,
						rgba(255, 255, 255, 0.6) 1px 1px 4px inset;
				}

				&.error::before {
					background-color: var(--danger-color);
					box-shadow:
						hsla(0, 100%, 64%, 0.9) 0 0 15px,
						hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
						white 0px 1px 1px,
						hsla(0, 0%, 0%, 0.6) -1px -1px 4px inset,
						rgba(255, 255, 255, 0.6) 1px 1px 2px inset,
						rgba(255, 255, 255, 0.6) 1px 1px 4px inset;
				}
			}

			.settingsCloudSyncBtn {
				position: relative;

				height: 1.5rem;
				width: 1.5rem;
				min-width: 0;
				aspect-ratio: 1;
				border-radius: 100%;

				background-color: var(--button-background);

				cursor: var(--pointer-cursor);

				box-shadow:
					var(--dark-shadow) 0px 0px 1.5px 0,
					var(--interactive-bg) 0px 0px 0px 0.175rem,
					hsla(0, 0%, 0%, 0.6) 0px -1px 2px 0.175rem,
					white 0px 1px 1px 0.175rem,
					hsl(0, 0%, 85%) 0.5px 0.5px 0.5px 0.5px inset,
					hsl(0, 0%, 70%) -0.5px -0.5px 0.5px 0.5px inset;

				&::after {
					content: "";
					position: absolute;
					inset: 0;
					background-image: url("/button_icons/sync.png");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}

				&:hover,
				&:focus-visible {
					outline: none;

					background-color: var(--pink);

					box-shadow:
						var(--dark-shadow) 0px 0px 1.5px 0,
						var(--interactive-bg) 0px 0px 0px 0.175rem,
						hsla(0, 0%, 0%, 0.6) 0px -1px 2px 0.175rem,
						white 0px 1px 1px 0.175rem,
						hsl(0, 0%, 85%, 0.6) 0.5px 0.5px 2px 0.5px inset,
						hsl(0, 0%, 5%, 0.6) -0.5px -0.5px 2px 0.5px inset;
				}

				&:focus::after {
					rotate: 360deg;
					transition: rotate 1s var(--ease-in-out-back);
				}
			}
		}
	}

	.settingsSectionContent {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		font-size: 1rem;

		.settingsSectionContentRow {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			flex-wrap: wrap;

			&.buttonRow {
				margin-top: 0.5rem;
				gap: 1rem;
			}
		}

		.settingsSectionContentColumn {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			flex-wrap: wrap;
		}

		input[type="checkbox"] {
			-webkit-appearance: none;
			appearance: none;

			--button-height: 1rem;
			--button-margin: 0.25rem;

			width: auto;
			height: calc(var(--button-height) + (var(--button-margin) * 2));
			aspect-ratio: 2 / 1;
			border-radius: 100vh;

			background-color: var(--interactive-bg);

			box-shadow:
				hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
				white 0px 1px 1px,
				rgba(0, 0, 0, 0.5) 1px 1px 4px 1px inset;

			cursor: var(--pointer-cursor);

			&::after {
				content: "";
				position: relative;
				display: block;
				height: var(--button-height);
				aspect-ratio: 1;
				background-color: var(--button-background);
				border-radius: 100%;
				margin: var(--button-margin);
				left: 0;

				box-shadow:
					var(--dark-shadow) 0px 0px 1.5px 0px,
					var(--button-border) 0px 0px 0px 3px,
					hsl(0, 0%, 85%) 0.5px 0.5px 0.5px 0.5px inset,
					hsl(0, 0%, 70%) -0.5px -0.5px 0.5px 0.5px inset;

				transition: left 250ms var(--ease-in-out-back);
				transition-property: left, transform;
			}

			&:hover::after,
			&:focus-visible::after {
				background-color: var(--pink);
				box-shadow:
					var(--button-background) 0px 0px 0px 3px,
					hsla(0, 0%, 85%, 0.6) 0.5px 0.5px 0.5px 0.5px inset,
					hsla(0, 0%, 70%, 0.6) -0.5px -0.5px 0.5px 0.5px inset;
			}

			&:checked {
				background-color: var(--darker-pink);
				&::after {
					left: calc(100% - var(--button-margin) * 2);
					transform: translateX(-100%);
				}
			}
		}
	}

	button {
		padding: 0.15rem 1rem;
		border: none;
		border-radius: 100vh;

		color: black;
		font-family: var(--font-barlow-condensed);
		font-size: 1.25rem;
		font-weight: 700;

		background-color: var(--button-background);
		margin: 0.35rem 0.175rem;

		overflow: hidden;
		text-wrap-mode: nowrap;
		text-overflow: ellipsis;

		box-shadow:
			var(--dark-shadow) 0px 0px 1.5px 0,
			var(--interactive-bg) 0px 0px 0px 0.175rem,
			hsla(0, 0%, 0%, 0.6) 0px -1px 2px 0.175rem,
			white 0px 1px 1px 0.175rem,
			hsl(0, 0%, 85%) 0.5px 0.5px 0.5px 0.5px inset,
			hsl(0, 0%, 70%) -0.5px -0.5px 0.5px 0.5px inset;

		&[data-variant="normal"] {
			--hover-color: var(--pink);
		}

		&[data-variant="danger"] {
			--hover-color: var(--danger-color);
		}

		&:hover,
		&:focus {
			outline: none;

			paint-order: stroke fill;
			color: white;
			-webkit-text-stroke: 2px black;

			background-color: var(--hover-color);
			box-shadow:
				var(--dark-shadow) 0px 0px 1.5px 0,
				var(--interactive-bg) 0px 0px 0px 0.175rem,
				hsla(0, 0%, 0%, 0.6) 0px -1px 2px 0.175rem,
				white 0px 1px 1px 0.175rem,
				hsla(0, 0%, 100%) 2px 3px 5px -2px inset,
				hsla(0, 0%, 18%, 0.9) 0px -2px 10px -2px inset;
		}
	}
}

.settingsTextbox,
.settingsSecret {
	padding: 0.25rem 1rem;
	border-radius: 100vh;
	box-shadow:
		hsla(0, 0%, 0%, 0.6) 0px -1px 2px,
		white 0px 1px 1px,
		rgba(0, 0, 0, 0.5) 0 0 4px 1px inset;
}

.settingsSecret {
	font-family: var(--font-barlow-condensed);
	font-style: italic;
	letter-spacing: 5%;

	position: relative;
	z-index: 0;
	user-select: none;
	color: transparent;

	background-color: var(--pink);

	transition: opacity 250ms var(--ease-in-out-back);
	transition-property: background-color, color;

	&:hover,
	&:focus {
		color: white;
		background-color: var(--interactive-bg);
	}
}

.settingsTextbox {
	display: flex;
	align-items: center;
	gap: 0.5ch;

	border-radius: calc(1rem);

	color: white;

	background-color: var(--interactive-bg);
}

@media (max-width: 1135px) {
	.settingsSection {
		max-width: 100%;
	}
}

@media (max-width: 800px) {
	.page {
		padding-inline: 3rem !important;
	}
}

@media (max-width: 550px) {
	.page {
		padding-inline: 1rem !important;

		.settingsSectionContent {
			font-size: 0.85rem;
		}

		.settingsSectionTitlebar {
			.settingsSectionTitle {
				font-size: 1rem;
			}

			.settingsCloudStatus {
				.settingsCloudStatusLabel {
					font-size: 1rem;
				}
			}
		}
	}
}
